header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

img {
    width: 2rem;
    padding: .1rem;
    background-color: #ffffff;
}

.cart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    position: relative;
}

.dropdown {
    position: absolute; /* Positionerar dropdown relativt cart-containern */
    top: 100%; /* Placerar dropdown under "Books" */
    left: 0;
    background-color:rgb(36, 24, 68); 
    padding: 1rem 0 1rem 2rem;
    z-index: 1; /* Visas ovanpå annat innehåll */
    margin: 0;
    border-radius: 0 0 0 5px;
}

#books {
    width: 1.2rem;
    height: 1.2rem;
    margin-left: .5rem;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 1.2rem;
    font-size: .8rem;
}

@media (min-width: 768px) {
    img {
        width: 3rem;
        padding: .5rem;
    }
    
    .cart-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }
    
    #books {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
    }
}
